<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="p" class="com.garyhu.bean.Product">
        <property name="name" value="iPhone8"/>
    </bean>
    <bean id="c" class="com.garyhu.bean.Category">
        <property name="name" value="手机"/>
    </bean>
</beans>